// .input{
//     margin-top:11%;
// }

.imgtxt{
    margin-right: 5%
}

// .martop{margin-top:25px;}
.jobcompany{
    color: #3c5c83;
    font-weight: 600;
}
.rating{
    background: #684b1b; 
    width: 34%; 
    padding-left: 10px; 
    padding-right: 10px; 
    color: #ffcf29; 
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}
// .cardcrd{border:5px solid #d8d8d8; border-radius: 5px; padding: 30px;
//     border-bottom-left-radius: 0px;
//     border-bottom-right-radius: 0px; }
.card-body{padding:0px;}
.postexpiry{
    background: #d8d8d8;
    padding: 16px 20px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.addamessage1{ padding: 10px; border: 2px solid #949494; border-radius: 5px; color: #939393;}
.addamessage2{text-align: right; font-size: 15px; padding-left: 16px;}
.choosefile{font-size: 14px;}
// .grbox{height: 105px;}