textarea {
    resize: none;
}
.timefont{font-size: 12px;}
.react-time-picker{width: 120px;}
#viewjob {
    .candidatetext1{
        width: 243px!important;
    }
}
.paginationalign{margin-left: 30rem;}
.paginationalign{text-align: right;}
.reviseoffer{
    position: relative;
    top: 10px;
    left: 20px;
}
.tox-tinymce{height: 330px!important;}
.tox .tox-statusbar__resize-handle svg{display: none!important;}
.react-datetime-picker__wrapper{
    border: thin solid gray;
    padding: 10px;
    width: 316px;
    border-radius: 5px;

}
.react-datetime-picker{
    color: #4a4a4a!important;
}
.candidatetext1{
    width: 63%;
}
.react-calendar__navigation button{min-width: 30px;}
.calendar-top{margin-top: 30px}
// .requestcandidate{width: 525px;}
.scheduleimg{
    width: 28px !important;
    margin-top: 0px;
    margin-left: -15px;
}
.scheduleaninterview{
    COLOR: #4a4a4a;
    font-weight: bold;
    background: #98d3cc;
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 2px 0;
    font-size: 13px;
    margin-top: 0px;
}
.react-calendar{font-size: 12px!important; line-height: 0.5em!important;}
.candidatetext1{font-size: 14px;
    color: #9b9b9b;
    background: #d2f7ef !important;
    border-radius: 0;
    border: 1px solid #9a9a9a !important;
    font-weight: 600;
    padding: 2px 10px;
    margin: 5px auto;
    text-align: left;}
.sendstyles{margin-top: -4rem;
    margin-right: -17rem;
    width: 18px;}
.candidatetext{background: #d2f7ef!important;
    border-radius: 0;
    border: 1px solid #9a9a9a!important; margin-top: 4px; height: 30px; width: 63%;
    margin: 5px auto;}
    .candidatetext9{background: #d2f7ef!important;
        border-radius: 0;
        border: 1px solid #9a9a9a!important; margin-top: 4px; height: 30px; width: 98%;
        margin: 5px auto;}
.botscoreontop{
    width: 130px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 16px;
    margin-right: -7rem;
}
.bgvreport{margin-top: 0.5rem;}
.dipslaytxt {
    margin-top: 27px;
    color: #466489;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0px;
}
// .mrleft{float: left;
//     width: 100px!important;
//     margin-right: 6px;}
.mr{margin-left: 13px;}
.h3-color{
    color:#dc3545
}
.image-upload > input
{
    height: 45px;
    width: 100% ;
    position: absolute;
    top: 15px;
    left: 0px;
    opacity: 0;
}
.btns{
    margin-left: 15%;
    border-radius: 50% !important;
}
.btns-succ{
    border-radius: 50% !important;
}

.searchbyname{
  
    border: 1px solid #b0bfd1;
    padding: 0.4rem 2.3rem;
    border-radius: 5px 0px 0 5px;
    width: 80%;
    font-size: 1rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b0bfd1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #b0bfd1;
  }

.jobcompany{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
}

// .martop{
//     border:2px solid transparent;
//     margin-top: 12px!important;
// }
.interviewed{color: #f7b13d; font-weight: normal;}
.statuscolor{
    color: #9b9b9b; font-weight: normal;
}
.pendingcolor{
    color: #417505;
}
.imgsmall{padding-right: 5px; }
.imgsmallicons{position: absolute; top:-7px; right:-2px}
// .martop:hover{background: #98d3cc!important; margin-left:0px!important; margin-top: 12px!important;}
.martop{margin-left:0px!important;}
.cardcrd{margin:0px 10px 0 0; border: 1px solid #979797; background: #d8d8d8;
        padding: 16px 25px; border-radius: 10px;width: 100%;
        height: 450px;}

.downloadimg{width: 23px;height:25px; margin-right: 5px;}
.shareimg{width: 25px;height:25px;}

.addamessage2{text-align: left;color: #3b597e; line-height: 14px; font-size: 14px; margin-top: 12px;}
.addmsg{font-weight: 100; font-size: 12px;}
// .grbox span{font-size: 0.8rem!important;}
// .grbox{line-height: 15px!important; height: 105px !important; padding: 0.2rem!important;}
.tdheight{height: 57px;}
.select{
    
    font-size: 11px;
    padding: 2px 8px;
    border-radius: 10px; margin-left: 8px; margin-right: 8px; border:1px solid #c5c5c5; font-weight: bold;}
.green{    background: #6d9243; color: #fff;}
.red{    background: #d0021b; color: #fff;}
.gray{    background: #fff; color: #f7b446}
.blue{background: #00dade; color: #000!important}
.canceloffer{background: #d0021b; color: #fff!important}
.chatrm{width: 50px!important;}
.postexpiry{padding: 8px 0px 0 0px!important;}
label {margin-bottom:0px!important}
.marrght2{padding-left:10px;}
.marrght3{padding-left:0px;}
.marbtm{height:30px;}
.boxleftt{padding-bottom: 155px;}
.file-view{
    width: 100%;
    height: 370px;
    border: none;
}
.jobpostid{font-weight: bold; color: #0b3e7c}
// .srchbyname{margin-top: 15px;}
.jobpostidright{padding-right:0}
.jobpostidleft{padding-left:0}
.chatrm1{width: 39px!important;}
.viewbckbigg{
    text-align: center;
    margin-top: 36px;
    width: 100%;
    margin: 0 auto;
    padding-top: 14px;
}

@media only screen and (max-width : 320px) {
       
}

@media only screen and (min-width : 321px) and (max-width : 600px) {
    #viewjob{
        
  
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #viewjob{
        .bgvreport {
            margin-top: 21px;
            width: 37px;
            margin-left: -12px;
        }
        .viewresume {
            font-size: 12px;
            margin-top: 2rem;
            width: 100%;
        }
        .profilepic{width:100%; margin-top: 10px;}
        .dipslaytxt {
            margin-top: -24px!important;
            font-size: 9px !important;
            margin-left: 37px;
        }
        .requestcandidate {
            width: 317px;
        }
        .srchbyname {
            margin-top: 0px!important;
        }
        .imgsmallicons{
            top: -12px !important;
            right: -6px;
        }
        .jobcompany {
            text-transform: uppercase;
            font-size: 11px;
            margin-top: 8px;
        }
        .srchbyname{ padding: 7px;}
        .searchbyname {
            border: 1px solid #b0bfd1;
            padding: 0.1rem 0.5rem;
            width: 75%;
            font-size: 11px;
        }
        .viewbckbig{padding-top: 10px;}
        .addmsg {
            font-weight: 600;
            font-size: 10px;
            line-height: 10px;
        }
        .viewbckbig{width: 87%;}
        .addamessage2{font-size: 11px;}
        .shareimg {
            width: 16px;
            height: 17px;
            margin-right: 0;
            margin-left: 2px;
        }
        .downloadimg {
            width: 16px;
            height: 16px;
            margin-right: 0px;
        }
        .select {
            font-size: 10px;
        
            margin-left: -3px;
            margin-right: 5px;
        
        }
        .loading{
            top: 64%;
            left: 50%;
            height: 100vh;
            width: 100%;
        }
        
          .cardcrd1{
            width: 295px!important;
            padding: 16px 16px;
          }
    
        .mrleft{width: 56px!important; margin-left:1px!important; margin-right:1px!important;}
        .grbox span{font-size: 10px;}
        .addmg1{width:45px; padding:2px 0px;line-height: 8px;}
        .upimg{width:20px!important; height: 20px!important;}
        .myjobupload1 {
          right: 11px !important;
        }
        .updatedon{font-size: 9px; line-height: 10px;}
        .tdheight {
          height: 44px;
          position: relative;
          left: 0px;
      }
      .chatrm1 {
        width: 30px !important;
    }
      .video_resume{margin-top: 0;
        margin-bottom: 0;}
        .imgst1 {
          width: 100% !important;
          padding: 5px 8px 2px 6px!important;
      }
      .imgst{width: 96% !important;
        margin-left: 5px;}
      .grbox span{font-size: 8.5px!important;
        line-height: 10px;}
        .grbox{height: 81px !important; line-height:4px!important;}
        .chatrm {
          width: 37px !important;    margin-left: 3px;
      }
      .marrght1{position: relative;
        padding: 0!important;
        left: -3px;}
        .chatrm6 {
          width: 29px !important;
          margin-left: 9px;
      }
      .marrght{line-height: 4px!important;}
      
      .grbox{line-height: 4px!important;}
      .bgvchecks span{font-size: 11px;}
      .countrycode{padding:0px!important; width:35px!important;}
      .table td{line-height: 4px!important;}
    }
}

// @media only screen and (min-width : 1224px)
// {
//     .paginationalign {
//         margin-left: 85%!important;
//       }
// }

// @media only screen and (min-width : 1824px){

// }

@media  screen and (min-width: 1366px) and (max-width: 1399px)  {
    /* insert styles here */
    #viewjob{
        .scheduleaninterview{width: 242px;}
        .candidatetext9 {
            
            padding-right: 22px;
        }
        .sendstyles {
            margin-top: -4.2rem;
            margin-right: -14.5rem!important;
        }
        .forthiscompany{font-size: 11px; font-weight: 500; line-height: 11px;}
        .postexpiry {
            padding: 0px 0px 0 0px !important;
        }
        .botscoreontop {
            width: 100px;
            height: 90px;
            margin-right:-9rem!important;
        }
        .calendar-top {
            margin-top: -96px!important;
        }
        .react-datepicker__day{line-height: 0.4rem!important; font-size: 0.6rem;}
        .updateon{margin-top: -8px}
        .addamessage2{margin-top: 0.5rem;}
        .cardcrd1{
            height: 380px;
          }
          .viewbckbig{
            width: 100%;
            height:260px;
            overflow-y:scroll;
          }
          .tox-tinymce {
            height: 220px !important;
        }
        .tdheight {
            height: 63px;
        }
        .chatrm{
            margin-top: 8px;
        }
        .file-view{
            height: 300px;
        }
    }
  }
  
  /* (1280x1024) SXGA Display */
  @media  screen and (max-width: 1280px) {
    /* insert styles here */
  }
  
  /* (1440x900) WXGA+ Display */
  @media  screen and (min-width: 1400px) and (max-width: 1440px) {
    /* insert styles here */
    #viewjob{
        .candidatetext9 {
            
            padding-right: 22px;
        }
        .sendstyles {
            margin-top: -4.2rem;
            margin-right: -14.5rem!important;
        }
        .botscoreontop {
            width: 110px;
            height: 100px;
            margin-left: 10px;
            margin-bottom: 16px;
            margin-right: -8rem;
        }
        .viewbckbigg {
            margin-top: -50px;
        }
        .botscoreontop {
            width: 110px;
            height: 100px;
            margin-left: 10px;
            margin-bottom: 16px;
            margin-right: -7rem;
            margin-top: 2.5rem;
        }
        .viewbckbig {
            width: 100%;
            height: 330px;
            overflow-y: scroll;
        }
      .cardcrd1{
        height: 485px;
      }
      .resumetop{height: 390px;}
      .input {
        margin-top: 0px;
        margin-bottom: 20px;
        padding-right:0px;
      }
      .forthiscompany{font-size: 11px; font-weight: 500;}
      .tox-tinymce {
        height: 323px !important;
    }
    }
  }
  
  /* (1680x1050) WSXGA+ Display */
  @media  screen and (max-width: 1680px) {
    /* insert styles here */
    #viewjob{
        .candidatetext9 {
            
            padding-right: 22px;
        }
        .sendstyles {
            margin-top: -4.2rem;
            margin-right: -14.5rem!important;
        }
        .botscoreontop {
            width: 115px;
            height: 105px;
            margin-left: 10px;
            margin-bottom: 16px;
            margin-right: -7rem;
        }
    }
  }
  
  /* (1920x1080) Full HD Display */
  @media  screen and (max-width: 1920px) {
    /* insert styles here */
    #viewjob{
        .candidatetext9 {
            
            padding-right: 22px;
        }
        .sendstyles {
            margin-top: -4.2rem;
            margin-right: -14.5rem!important;
        }
        .botscoreontop {
            width: 110px;
            height: 100px;
            margin-left: 10px;
            margin-bottom: 16px;
            margin-right: -7rem;
        }
        
        .react-datepicker__day{line-height: 0.8rem; font-size: 0.6rem;}
        .react-datepicker{font-size: 0.6rem;}
        .react-datepicker{
            float: left;
            margin-top: 8px;
        }
        .calendar-top {
            margin-top: 5px;
        }
        .candidatetext1{margin: 10px 0 0 0px!important; height: 26px !important;}
        .viewbckbigg{padding-top:0px;}
        .candidatetext9{width: 238px;}
        .sendstyles {
            margin-top: -4.2rem;
            margin-right: -13.5rem;
        }
        .react-time-picker__wrapper {
            display: flex;
            border: thin solid gray;
            // width: 242px;
            margin-top: 5px;
            border-radius: 5px;
            background:#caeee9;
        }
    }
  }