.selectrejmar{margin-bottom: 10px;}
.resumetop{height: 360px!important;}
.mrlftrght{width: 94%;
    margin: 0 auto;}
.marrbt{margin-bottom: 10px;}
@media  screen and (min-width: 1366px) and (max-width: 1399px) {
    /* insert styles here */
    #freelancercampus{
        .react-datepicker__day{line-height: 0.8rem; font-size: 0.6rem;}
        .react-datepicker{font-size: 0.6rem;}
        .react-datepicker{
            float: left;
            margin-top: 8px;
        }
        .calendar-top {
            margin-top: 5px;
        }
        .candidatetext1{margin: 10px 0 0 0px!important; height: 50px !important; width:105%!important;}
        .viewbckbigg{padding-top:0px;}
        .candidatetext9{width: 104%;}
        .sendstyles1 {
            margin-top: -6rem;
            margin-left: 13.5rem!important;
        }
        .react-time-picker__wrapper {
            display: flex;
            border: thin solid gray;
            width: 242px!important;
            margin-top: 5px;
            border-radius: 5px;
            background:#caeee9!important;
        }
    }
}
@media  screen and (min-width: 1400px) and (max-width: 1440px) {
    /* insert styles here */
    #freelancercampus{
        .react-datepicker__day{line-height: 0.8rem; font-size: 0.6rem;}
        .react-datepicker{font-size: 0.6rem;}
        .react-datepicker{
            float: left;
            margin-top: 8px;
        }
        .calendar-top {
            margin-top: 5px;
        }
        .candidatetext1{margin: 10px 0 0 0px!important; height: 50px !important; width:105%!important;}
        .viewbckbigg{padding-top:0px;}
        .candidatetext9{width: 104%;}
        .sendstyles1 {
            margin-top: -6rem;
            margin-left: 13.5rem!important;
        }
        .react-time-picker__wrapper {
            display: flex;
            border: thin solid gray;
            width: 242px!important;
            margin-top: 5px;
            border-radius: 5px;
            background:#caeee9!important;
        }
    }
}
 
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
}

@media screen and (min-width: 1500px) and (max-width: 1680px){
    #freelancercampus{
        .react-datepicker__day{line-height: 0.8rem; font-size: 0.6rem;}
    .react-datepicker{font-size: 0.6rem;}
    .react-datepicker{
        float: left;
        margin-top: 8px;
    }
    .calendar-top {
        margin-top: 5px;
    }
    .candidatetext1{margin: 10px 0 0 0px!important; height: 50px !important; width:105%!important;}
    .viewbckbigg{padding-top:0px;}
    .candidatetext9{width: 104%;}
    .sendstyles1 {
        margin-top: -6rem;
        margin-left: 13.5rem!important;
    }
    .react-time-picker__wrapper {
        display: flex;
        border: thin solid gray;
        width: 242px!important;
        margin-top: 5px;
        border-radius: 5px;
        background:#caeee9!important;
    }
    }
}
 
@media  screen and (min-width: 1800px) and (max-width: 1920px) {
    /* insert styles here */
    #freelancercampus{
        .react-datepicker__day{line-height: 0.8rem; font-size: 0.6rem;}
        .react-datepicker{font-size: 0.6rem;}
        .react-datepicker{
            float: left;
            margin-top: 8px;
        }
        .calendar-top {
            margin-top: 5px;
        }
        .candidatetext1{margin: 10px 0 0 0px!important; height: 50px !important; width:105%!important;}
        .viewbckbigg{padding-top:0px;}
        .candidatetext9{width: 104%;}
        .sendstyles1 {
            margin-top: -6rem;
            margin-left: 13.5rem!important;
        }
        .react-time-picker__wrapper {
            display: flex;
            border: thin solid gray;
            width: 242px!important;
            margin-top: 5px;
            border-radius: 5px;
            background:#caeee9!important;
        }
  }
  }