.frelancerspad{line-height:13px!important;}
.iframeSampleVideo{

  height: 350px;
}
.postpage-logo-img-upload{    margin-top: 0;
    margin-left: 53%;}
.selectwidth1{width:125px; margin-top: 0px;}
.myjobupload{    right: 50px!important;
    top: 20px!important;}
.botjob{width:78%;}
.golivebtn{text-align: center;
}
// .title-name1 {
//     color: #9fafc1 !important;
// }
.countrystyles2{
    background: lightgray;
    border: 1px solid gray;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 12px;
}
.imguploadpos{
    position: absolute;
    top: 0;
    left: 13px;
    height: 65px;
    width: 65px;
    opacity: 0!important;
}
// .img-upload img, .imgup,.uploadadd{
//     height: 50px !important;
//     width: 50px!important;
//     margin-top: 5px;
// }
.video-react-big-play-button,.video-react-control-bar{display:none;}
.video-react{padding-top:0px!important;}
.video-react-video{height: 295px;
width:100%}
// .grbox span{color: #606161; font-weight: bold; font-size: 0.8rem!important;}
.viewalljobposts{color: #042c5e}
.table thead th{color: #606060}

.image-upload > input
{
    height: 45px;
    width: 100% ;
    position: absolute;
    top: 15px;
    left: 0px;
    opacity: 0;
}

.img-upload > input{
    display: none;
    
}

.img-upload img{
    height: 50px!important;
    }

.image-upload1 > input
{
    display: none;
}

.image-upload2 > input
{
    display: none;
}
// .image-upload img {
//     width: 74px;
//     cursor: pointer;
//     margin-top: 15px;
//     margin-left: 0px;
// }

// .image-upload1 img {
//     width: 92px;
//     cursor: pointer;
//     margin-top: 0;
//     margin-left: 0px;
// }
.image-upload2 img {
    width: 57px;
    cursor: pointer;
    
    margin-left: 0px;
}
.prooftype{margin-top: 2rem; margin-bottom: 1.5rem;}
// .grbox {
//     height: 105px!important;
// }
// .grbox{
//     background-image: linear-gradient(#84f2ef, #3adbe5); 
//     padding:0.5rem 0; 
//     border-radius: 5px; 
//     text-align: center; 
//     margin-top: 1rem;
// }
// .img-styles{
//     width: 70%;
//     margin-top: 3px;
//     margin-bottom: 1px;
// }





// .grbox{
//     background-image: linear-gradient(#84f2ef, #3adbe5); 
//     padding:0.5rem; 
//     border-radius: 5px; 
//     text-align: center; 
//     margin-top: 1rem;
// }
// .img-styles{
//     width: 70%;
//     margin-top: 3px;
//     margin-bottom: 1px;
// }

.grbox{
    span{font-size:0.7rem; font-weight: bold;}
}
.mrrght{margin-right: 2%;}
.golive{
    background: #7fefef; 
    padding:0.2rem 3rem; 
    border: 1px solid #b0bfd1; 
    border-radius: 5px!important; 
    color: #042c5e; 
    font-weight: bold;
    margin:1rem 0;
}
.golive-doc{
    background: #7fefef;
    padding: 0.2rem 1rem;
    border: 1px solid #b0bfd1;
    border-radius: 5px;
    color: #042c5e;
    font-weight: bold;
    margin: 1rem 45px;
    margin-top: 30%;

}
.postexpiry{color:#042c5e; font-weight: bold; margin-right:1.5rem;}
.li-test {
    color: #0b3e7c!important;
    font-weight: 600;
}
.signout{background: transparent;
    border: none;
    text-align: left;}

    // .form-control, .form-control:focus {
    //     border: 1px solid #b0bfd1!important;
    //     background-color: transparent;
    //     color: #042c5e!important;
    //     font-weight: bold;
    //     font: -webkit-control;
    //     font-size: 14px;
    //     color: #fff;
    // }

    .job-name{
        color: #0b3e7c;
        margin-top: 2rem;
    }
    // .title-name{
    //     color: #94a6ba;
    //     margin-top: 2rem;
    // }
    .btn-primary {
        color: #fff;
        background: #0b3d7b;
        border-color: #0b3d7b;
        border-radius: 5px!important;
        font-weight: 600;
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn{
        border-radius: 0rem;
    }
    .middle-row{
        margin-top: 5%;
        text-align: right;
    }
    .job-post{
        margin-left: 2%;
    }
    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 3px solid rgba(0,0,0,.1);
        width: 99%;
        margin-left: 1%;
    }
    
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }

    thead{
        background-color:#1be6de
     }

     .table {
        width: 100% !important;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-top: 2%;
    }

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .card-box1 {
        padding: 5px 15px;
        background-color: #52f3ec;
        border: 2px solid #979797;
    }

    .card-box {
        padding: 5px 15px;
        background-color: #98d3cc;
        border: 2px solid #49d3c7;
    }
    .inside-card1 {
        margin-top: 2%;
        width: 96%;
        margin-left: 2%;
    }

    .inside-card {
        margin-top: 0!important;
    width: 100%!important;
    margin-left: 0!important;
    }

    .li-test{
        color: #0b3e7c;
    }
    .li-height{
        margin-top: 5%;
    }

    .p-list {
        color: #587da5;
        margin-top: 10%;
        margin-left: 11%;
        font-size: 14px;
        font-weight: 700;
    }
    // input[type="checkbox"]{
    //     width: 30px;
    //     height: 25px;
    // }

    .table 
      {
          thead 
        {th
            {font-size: 0.8rem;}
        }
    }
    
    .form-check-input{
        margin-top: .5rem;
        margin-left: -2.2rem;
    }

    .input-group>.input-group-append>.btn{    
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .btn-secondary{background-color:#7feeef; border:none!important;}
    .choose{
        font-weight: 600;
        margin-left: 0.7rem;
    }
    // @media only screen and (max-width: 600px) {
    // .title-name {
    //     margin-left: 1rem;
    // }
//     .middle-row{
//         margin-left: 1rem;
//     }
//     form{margin:1rem}
//     .table{margin-left:1rem; margin-right: 1rem;}
//     .table td, .table th{font-size: 0.75rem;}
//     .table thead th{font-size: 0.7rem;}
//     .bg-light{margin-left: 1rem;}
//     // .grbox{margin-left: 1rem;}
//     .job-post {
//         margin-left: 8%;
//         margin-top: 1rem;
//     }
//     .img-styles1{margin-left: 10px;}
// }

.fileUpload{
    margin-top: 46%;
}
// .doc {
//     width: 100%;
//     height: 500px;
// }
// input[type='file'] {
//   opacity:0    
// }
iframe{height:100%; width: 100%;}

// .mrleft{float: left;
//     width: 100px!important;
//     margin-right: 6px;}


// .boxleft{
//     margin: 0px 56px;
//     width: 425px;
// }

.tdheight{height: 57px;}

.image-upload > input {
    height: 45px;
    width: 100% ;
    position: absolute;
    top: 0px!important;
    left: 0px;
    opacity: 0;
    background: red;
}

// .image-upload img {
// width: 74px;
// cursor: pointer;
// margin-top: 0px;
// margin-left: 0px;
// }
.marrght3 {
    padding-left: 10px !important;
}

// .cardcrd1 {
//     margin: 0px 10px 0 0;
//     border: 1px solid #979797;
//     background: #d8d8d8;
//     padding: 16px 25px;
//     border-radius: 10px;
//     width: 100%;
//     height: 450px;
//     text-align: center;
// }
.jobopenings{
    margin-left: -27px;
    color: #a4b1bf;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    padding-top: 1px;
}

.paddingleftzero{padding-right: 0px;}
.paddingrightzero{padding-left: 0px;}
.additionemail{position: relative; padding-left: 6px;}
.additionemailbottom{
    position: absolute;
    bottom: 5px;
   
}
.addemail{

    FONT-SIZE: 12PX;
    line-height: 11px;
    font-weight: 600;
    color: #042c5e;
    background: #d8d8d8;
    border: 1px solid gray;
    padding:2px 3px;
    border-radius: 10px;
    margin-top: -10px;
    margin-right: 6px;
}

.maxupto{
    font-size: 9px;
    font-weight: bold;
}
.maxuptostyles{
    width: 7px!important;
    margin-top: -3px;
    margin-right: 2px;
}

.upphoto{right: 14px!important;}

.tablemain { td {padding-top: 10px!important;}}
.chatrm1{width: 39px!important;}
.golivesubmit{
    width: 542px;
}



button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
   // padding: 5px 10px;
  }
  
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }



//   loader


.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  
  .loading:not(:required) {
   
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 12px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(248, 178, 106, 1) 1.5em 0 0 0, rgba(244, 126, 96, 1) 1.1em 1.1em 0 0, rgba(225, 91, 100, 1) 0 1.5em 0 0, rgba(132, 155, 135, 1) -1.1em 1.1em 0 0, rgba(171, 189, 129, 1) -1.5em 0 0 0, rgba(248, 178, 106, 1) -1.1em -1.1em 0 0, rgba(248, 178, 106, 1) 0 -1.5em 0 0, rgba(244, 126, 96, 1) 1.1em -1.1em 0 0;
    box-shadow: rgba(248, 178, 106, 1) 1.5em 0 0 0, rgba(244, 126, 96, 1) 1.1em 1.1em 0 0, rgba(225, 91, 100, 1) 0 1.5em 0 0, rgba(132, 155, 135, 1) -1.1em 1.1em 0 0, rgba(171, 189, 129, 1) -1.5em 0 0 0, rgba(248, 178, 106, 1) -1.1em -1.1em 0 0, rgba(248, 178, 106, 1) 0 -1.5em 0 0, rgba(244, 126, 96, 1) 1.1em -1.1em 0 0;
  }
    
  
  
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  // Media Queries

  
@media only screen and (max-width : 320px) {
       
}

@media only screen and (min-width : 321px) and (max-width : 600px) {
  #myjobposts{ 
  
   

    // .mrleft{width: 78px}
    .table {
      margin-left: 0;}
      .profilenamemob{
        position: fixed;
        top: 0.5rem;
        right: 3.8rem;
    }
    .profileaname{font-size: 0.7rem; margin-left:4px;
        margin-right: 1rem;}
    .navbar-dark .navbar-toggler{position: absolute;
        right: 14px;
        top: 13px;}
        .profilesym{font-size: 0.8rem;}
        .company_logo {width: 125px;}
        .countrystyles {width: 96%}
        .countrycode{width: 96%}
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .navbar-dark .navbar-toggler{display:none;}
  #myjobposts{
    .botjob{width:100%;}
    .golivesubmit {
      width: 305px!important;
  }
    .uploadadd{width:20px!important; height:20px!important;}
    .myjobupload {
        right: 3px !important;
    }
    .jobopenings{margin-left: -16px; font-size: 8px;}
      .jobopen{width: 30px;
        padding: 0!important;}
    .activestyles{font-size: 10px;}
    .loading{
        top: 64%;
        left: 50%;
        height: 100vh;
        width: 100%;
    }
    .frelancerspad{padding-left:0px!important; line-height:13px!important;}
    .chatrm1 {
        width: 30px !important;
    }
    .btn-primary:disabled{
        padding: 3px 4px;
        font-size: 11px;
        position: absolute;
        top: -28px;
        right: -59px;
    }
    
    .updatebtn{
        padding: 3px 4px;
        font-size: 11px;
        position: absolute;
        top: -28px;
        right: -59px;
    }
    .cardcrd1{
      width: 295px!important;
      // height: 366px;
      padding: 16px 16px;
    }
    .countrystyles{height: 28px;}
    .countrystyles1{
      font-size: 12px; margin:0px;
    }
    .selectwidth{
      width:66px;
      height: 21px!important;
    }
    .geosuggest{
      font-size: 10px; margin:0.5rem auto
    }
    .geosuggest__input{
      height: 26px;
    }
    .golive{
        margin: 4px 0px;
        padding: 0.2rem 2.8rem;
        font-size: 12px;
    }
    .srchbtn{height: 30px;}

    .img-styles {
        width: 107%;
    }
    .viewalljobposts{font-size: 13px;}
    .golive-doc{padding: 3px 4px!important;margin-top: 0% !important;font-size: 12px;
      width: 73px;}
  
  .uploadphoto{
    right: 23px;
    top: 5px;
  }
  .image-upload > input{
    height: 36px;
    width: 100%;
    top: 15px;
    left: 0px;
    }
    .imgupmedia{
      position: relative !important;
      left: -22px !important;
      top: -2px !important;
    }
    .golivedocmedia{
      position: relative;
      top: -36px;
      left: 225px;font-size: 9px;
      width: 63px;padding: 5px 3px !important;
    }
    .pdfdocs{
      margin-top: -49px;
      font-size: 10px;
      margin-left: -30px;
    }
   .pdfdocs1 {
      margin-top: 0px;
      font-size: 7px;
      width: 70px;
      color: #042c5e;
      font-weight: bold;
  }
    .table thead th{
      font-size: 0.6rem !important;
      line-height: 0.5rem;
    }
    .tablemain td{line-height: 11px!important; font-size: 13px!important;}
    .editicon {
      height: 14px;
  }
  .mrleft{width: 56px!important; margin-left:1px!important; margin-right:1px!important;}
  .grbox span{font-size: 10px;}
  .addmg1{width:45px; padding:2px 0px;line-height: 8px;}
  .upimg{width:20px!important; height: 20px!important;}
  .myjobupload1 {
    right: 3px !important;
  }
  .updatedon{font-size: 9px; line-height: 10px;}
  .tdheight {
    height: 44px;
    position: relative;
    left: -2px;
}
.video_resume{margin-top: 0;
  margin-bottom: 0;}
  .imgst1 {
    width: 100% !important;
    padding: 5px 8px 2px 6px!important;
}
.imgst{width: 96% !important;
  margin-left: 5px;}
.grbox span{font-size: 8.5px!important;
  line-height: 10px;}
  .grbox{height: 81px !important; line-height:4px!important;}
  .chatrm {
    width: 37px !important;    margin-left: 3px;
}
.marrght1{position: relative;
  padding: 0!important;
  left: -3px;}
  .chatrm6 {
    width: 29px !important;
    margin-left: 9px;
}
.marrght{line-height: 4px!important;}
}
.grbox{line-height: 4px!important;}
.dipslaytxt {
  margin-top: 30px!important;
  font-size: 11px!important;
}
.bgvchecks span{font-size: 11px;}
.countrycode{padding:0px!important; width:35px!important;}
.table td{line-height: 4px!important;}
}

// @media only screen and (min-width : 1224px)
// {
//   .selectwidth {
//     width: 144px;
//   }
// }

// @media only screen and (min-width : 1824px){

// }

@media  screen and (min-width: 1366px) and (max-width: 1399px) {
  /* insert styles here */
  #myjobposts{
  .cardcrd1 {
    height: 365px!important;
  }
  .botjobb {
    height: 271px;
  }
  .botjob {
    width: 48%;
}
.resumetop{height: 270px!important;overflow-y:auto !important}
.selectwidth{width: 150px;}
}
  
}

/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
  /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media  screen and (min-width: 1400px) and (max-width: 1440px) {
  /* insert styles here */
  #myjobposts{
    .cardcrd1{
      height: 485px;
    }
    .resumetop{height: 390px;}
    .input {
      margin-top: 0px;
      margin-bottom: 20px;
      padding-right:0px;
    }
    .botjob {
      width: 68%;
  }
  .botjobb {
    height: 389px;
  }
  }
}

/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
  /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
  /* insert styles here */
}