.brd{padding: 14% 5% 14% 0}
.feedback{
    margin-left: 29%;
    margin-top: 10%;
}

.starsymbol {.fas{color: #f3e844;
    font-size: 43px!important;
  
    -webkit-text-stroke-color: #979797; -webkit-text-stroke-width: 1px; position: relative; top: 10px;
    margin-left: 16px;}
}
.starstyles{width: 464px;
    margin: 0 auto;
    background: #d8d8d8;
    height: 121px;
    padding: 20px 20px;
    border: 1px solid #979797;
    border-radius: 10px;}
    
    .starsymbol{width: 100%;
    margin-left: 48px;}

    .sharecomments{
        width: 464px;
        height: 90px;
        padding: 10px 15px;
        border: 1px solid#979797;
        border-radius: 10px;margin: 60px auto;
        
    }
    
    .sharecommentstext{
        color: #c2c2c2;
        font-size: 23px;
    }